* {
    margin: 0;
    color: white;
}

.user-ratings-container {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-around;
    overflow: auto;
}

.user-heading {
    width: 100%;
    height: 5vh;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10pt 20pt 0 10pt;
}

.user-heading > h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 4vh;
    text-align: center;
    filter: drop-shadow(rgba(0, 0, 128, 0.726) 1px 1px 5px) drop-shadow(rgb(165, 3, 3) 3px 3px 3px);
    position: fixed;
    left: 10pt;
}

.user-heading > a > img {
    height: 2.5vh;
    filter: invert(96%);
    margin-top: 3pt;
}

.user-heading > p {
    color: white;
    margin-left: 15pt;
}

.rated-dog-card {
    width: 175pt;
    height: 175pt;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset black 5pt 5pt 10pt,
                inset rgb(4, 38, 112) 4pt 4pt 1pt,
                      rgba(255, 255, 255, 0.103) -1pt -1pt 1pt,
                      rgba(0, 0, 0, 0.267) 1pt 1pt 1pt,
                      rgb(2, 18, 53) 5pt 5pt 1pt,
                      rgba(0, 0, 0, 0.397) 10pt 10pt 5pt,
                      rgba(0, 0, 0, 0.397) 10pt 10pt 10pt;
    border-radius: 15pt;
    border: rgb(4, 36, 105) solid 5pt;
    margin: 15pt;
}

.rated-dog-card > p {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 0 0 10pt 10pt;
}

@media screen and (max-width: 1025px) {
 
    .user-heading {
        padding: 20pt 20pt 0 10pt;
    }
    
    .user-heading > h1 {
        left: 15pt;
    }
    
    .user-heading > a > img {
        height: 3.5vh;
        margin-top: 0;
    }
    
    .user-heading > p {
        font-size: 3vh;
        margin: -6pt 0 0 25pt;
    }
    
    .rated-dog-card {
        width: 240pt;
        height: 240pt;
    }
    
    .rated-dog-card > p {
        font-size: 18pt;
        padding: 3pt 5pt;
    } 
}