@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans+Condensed:300');

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	min-width: 100vw;
	padding: 0;
}

.app {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-image: url('./images/background.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	text-decoration: none;
	outline: none;
}

.github {
	position: fixed;
	bottom: 1vh;
	left: calc(2vh);
	height: 7.5vh;
	filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 0 3px);
}

@media screen and (max-width: 1025px) {
	.app {
		background-image: url('./images/background-tablet.png');
	}
}

@media screen and (max-width: 400px){
	.app {
		background-image: url('./images/background-mobile.png');
		background-position: bottom;
	}
}